.navbarContainer {
    background-color: #F2F4F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    height: 41px;
    margin: 40px auto;
    padding: 2rem;
    border-radius: 30px;
}

h2 {
    background-color: #F2F4F6;
    font-size: 32px;
}

.resume-btn {
    border: none;
    outline: none;
    background: linear-gradient(135deg, #2E236C, #433D8B); /* gradient */
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
}