/* Wrapper to center the fixed-width navbar */
.navbarWrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
}

/* Main navbar content with 60% width */
.navbarContainer {
    width: 65%;
    background-color: #0d0d1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.logo h2 {
    margin: 0;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: 600;
}

.navLinks a {
    margin-left: 2rem;
    text-decoration: none;
    color: #cfcaff;
    font-weight: 300;
    transition: color 0.3s ease;
    font-size: 17px;
}

.navLinks a:hover {
    color: #a89ff3;
}

.resume-btn {
    border: none;
    outline: none;
    background: linear-gradient(135deg, #2E236C, #433D8B);
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
}