.homeContainer{
    justify-content: center;
    align-items: center;
}

.body-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 100px auto;
    gap: 10px;  
}

.txt-content {
    width: 700px;
}

.name-title {
    font-size: 70px;
    font-weight: bold;
    margin-top: 60px;
    color: #fff;
}

.caption {
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
}

.btn {
    margin-top: 50px;
    border: none;
    outline: none;
    background: linear-gradient(135deg, #6e8efb, #a777e3); /* gradient */
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
}

.img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%; /* Optional: makes image circular */
  animation: glowPulse 2s infinite ease-in-out;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 10px 2px rgba(200, 120, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 30px 10px #EBD3F8;
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(200, 120, 255, 0.4);
  }
}
